/** {
  border: 1px solid black;
  text-decoration: none;
}*/
h1, h2, h3 {
  font-family: Arial, Verdana, sans-serif;
}
.favMovies, .hobbies {
  border: 1px solid black;
  background-color: #EFEFEF
}
